
yakuza.png
test - Copy.png
Week_1/.ipynb_checkpoints/Tugas Hari 3_Angdrico-checkpoint.ipynb
Week_1/.ipynb_checkpoints/Tugas Hari 4_Angdrico-checkpoint.ipynb
Week_1/.ipynb_checkpoints/tugas_hari_5_2_Angdrico-checkpoint.ipynb
